<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="over" [opened]="opened" fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a class="list-item" mat-list-item routerLink="" (click)="nav.open()">
                <mat-icon>home</mat-icon>
                Início
            </a>
            <a class="list-item" mat-list-item routerLink="products" (click)="nav.open()">
                <mat-icon>storefront</mat-icon>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-card-content>
        <div class="content">
            <div class="content-router">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-card-content>
</mat-sidenav-container>